<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Skin Tone Detection</title>
</head>
<body>
    <div class="skin_container">
        <div class="row jutify">
            <p class="heading">Skin Tone Detection with Dress Recommendation</p>
            <div class="menus">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
        <h2 class="about_header">About Us</h2>
        <div class="row">
            <img src="static/asset/bg/about.png" alt="" class="about_file">
         
            <div class="content">
                Welcome to Skin Tone Prediction, where fashion meets innovation to revolutionize your wardrobe choices. At Skin Tone Prediction, we believe that every individual deserves to feel confident and empowered in their style, and we're dedicated to making that a reality through cutting-edge technology and personalized recommendations.Central to our approach is our innovative skin tone classifier, a sophisticated tool designed to analyze your skin tone and provide personalized dress recommendations that complement your natural features. By understanding your skin tone, we ensure that every outfit you choose enhances your beauty and boosts your confidence.
                <h2>How It Works:
                    </h2>
                    <p>Our process is simple yet powerful. Upon visiting our website, our skin tone classifier assesses your skin tone with precision, taking into account various factors such as undertones and complexion depth. Once your skin tone is identified, we collect additional information such as your gender and body measurements to further tailor our recommendations to your unique preferences and physique</p>
            </div>
        </div>
    </div>
    

</body>
</html>
