<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Skin Tone Detection</title>
</head>
<body>
    <div class="skin_container">
        <div class="row jutify">
            <p class="heading">Skin Tone Detection with Dress Recommendation</p>
            <div class="menus">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
        <h2 class="about_header">Contact Us</h2>
        <div class="row max">
            <img src="static/asset/bg/contact.png" alt="" class="about_file md">
         
            <div class="content">
                <form action="" class="contactForm">
                    <input type="text" placeholder=" Your Name">
                    <input type="text" placeholder=" Your Email Address">
                    <textarea name="Message" id="" cols="30" rows="10" placeholder="Message"></textarea>
                    <button class="predict_Tone">Send</button>
                </form>
            </div>
        </div>
        <div class="site_info">
            <div class="row">
                <p>Address: 131/1 Tamilnadu</p>
                <p>Contact: 7894561235</p>
            </div>
        </div>
    </div>
    

</body>
</html>
