<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin Tone Detection</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="skin_container">
        <div class="row">
            <div class="skin_info">
                <img src="static/asset/bg/1.png" alt="" class="girl">
                <img src="static/asset/bg/2.png" alt="" class="bag1">
                <img src="static/asset/bg/3.png" alt="" class="pink_dress">
                <img src="static/asset/bg/5.png" alt="" class="coat">
                <img src="static/asset/bg/2.png" alt="" class="bag2">
                <img src="static/asset/bg/2.png" alt="" class="bag3">
                <img src="static/asset/bg/2.png" alt="" class="bag4">
                <h1>Skin Tone Detection with 
                    Dress Recommendation</h1>
                    <button onclick="redirectToPage()">Predict My Skin Tone</button>
            </div>
            <div class="skin_display">
                <img src="static/asset/bg/6.png" alt="" class="bg">
                <div class="menus">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <img src="static/asset/bg/2.png" alt="" class="bag6">
                <img src="static/asset/bg/2.png" alt="" class="bag5">
            </div>
        </div>
    </div>
</body>
<script>
    function redirectToPage() {
        // Redirect to the desired URL
        window.location.href = '/predictPage';
    }
</script>
</html>